@page "/"

<h1>Hello, world!</h1>


<a href="https://maps.google.com/?q=39.14089,-84.50054">Open Driving Directions</a>
<br/>

Test this link. <br/>
The single press will not work in iOS 18 or higher. <br/>
Requires a long press. <br/>